.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.tag-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Use flexbox to align items in a row */
}

.tag {
    margin-right: 10px; /* Add space between tags */
}

.tag-link {
    text-decoration: none; /* Remove underline from links */
}
