:root {
  --black-font: #2d3032;
  --bolder-black-font: #333;
}

body {
  line-height: 1.5;
  font-family: "Helvetica", "Arial", sans-serif;
  color: var(--black-font);
  padding: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 50em;
  font-size: 18px;
}

h1,
h2,
strong {
  color: var(--bolder-black-font)
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
  font-size: smaller;
}

a {
  color: #e81c4f;
}
a:hover {
  text-decoration: underline;
}

/* navbar */

.nav-logo {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 32px;
}

nav a  {
  color: var(--black-font);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 40px;
}

header a.title {
  text-decoration: none;
  font-weight: bold;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding-left: 0;
}

header ul li {
  margin-right: 1rem;
}

/* post listings */

.post-list {
  margin-bottom: 1em;
}

.post-list article {
  padding: 0.5em;
}

.post-link {
  font-size: large;
  font-weight: bold;
  color: var(--bolder-black-font)
}

/* styles for tags */

.tag-container {
  margin-top: 0;
}

.tag-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.tag {
    margin-right: 10px;
}

.tag-link {
    text-decoration: none;
}
