{% extends "layout.html" %}

{% block content %}
  <h1>Posts</h1>
  <div class="post-list">
{% for post in posts %}
    <article>
      <a class="post-link" href="posts/{{ post.slug }}.html">{{post.title}}</a> <small>{{post.date}}</small>
      {% if post.tags %}
      {% set tags = post.tags.split(",") %}
      <div class="tag-container">
        <ul class="tag-list">
        {% for tag in tags %}
            {% set tag = tag.strip() %}
            <li class="tag"><a class="tag-link" href="tags/{{ tag }}.html">{{ tag }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    </article>
{% endfor %}
  </div>
{% endblock %}
