<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/static/styles.css" rel="stylesheet" />
    <title>kennett.dev</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="nav-logo">kennett.dev</a>
        <ul>
          <li><a href="/about">about</a></li>
          <li><a href="https://github.com/alexk49">github</a></li>
        </ul>
      </nav>
    </header>
    <hr>
    <main>
    {% block content %} {% endblock %}
    </main>
  </body>
</html>
